

form {
 
  text-align: center;
  font-family: Lato, sans-serif;
  background-color: rgb(42, 68, 71);
  width: 600px;
  min-height: 200px;
  border-radius: 25px;
  margin-left: auto;
   margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  font-family: Lato, sans-serif;
 
  
}

h2 {
  font-size: 25px;
  color: rgb(208, 206, 234);
  font-family: Lato, sans-serif;

}

label {
  color: rgb(174, 180, 187);
  font-family: Lato, sans-serif;
}